<h1>Friends List Goes Here</h1>

<% friends.forEach((friend) => { %>
   <li> <%= friend %> </li>
<% }); %>

<form action="/addfriend" method="POST">
  <input type="text" name="newFriend" placeholder="name"> <!--name attribute will be they key that holds the value -->
  <button>I made a new friend!</button>
</form>
